[submodule "workspace/lab06"]
	path = workspace/lab06
	url = https://github.com/APICe-at-DISI/OOP-Lab06.git
	branch = exercises
[submodule "workspace/lab06-dev"]
	path = workspace/lab06-dev
	url = https://github.com/APICe-at-DISI/OOP-Lab06.git
	branch = develop-qa-enabled
[submodule "workspace/lab06-sol-dev"]
	path = workspace/lab06-sol-dev
	url = https://github.com/APICe-at-DISI/OOP-Lab06.git
	branch = solutions-qa-enabled
[submodule "workspace/lab06-sol"]
	path = workspace/lab06-sol
	url = https://github.com/APICe-at-DISI/OOP-Lab06.git
	branch = solutions
[submodule "workspace/lab07"]
	path = workspace/lab07
	url = https://github.com/APICe-at-DISI/OOP-Lab07.git
	branch = exercises
[submodule "workspace/lab07-sol"]
	path = workspace/lab07-sol
	url = https://github.com/APICe-at-DISI/OOP-Lab07.git
	branch = solutions
[submodule "workspace/lab07-dev"]
	path = workspace/lab07-dev
	url = https://github.com/APICe-at-DISI/OOP-Lab07.git
	branch = develop-qa-enabled
[submodule "workspace/lab07-sol-dev"]
	path = workspace/lab07-sol-dev
	url = https://github.com/APICe-at-DISI/OOP-Lab07.git
	branch = solutions-qa-enabled
[submodule "workspace/lab08-sol"]
	path = workspace/lab08-sol
	url = https://github.com/APICe-at-DISI/OOP-Lab08.git
	branch = solution
[submodule "workspace/lab08"]
	path = workspace/lab08
	url = https://github.com/APICe-at-DISI/OOP-Lab08.git
	branch = exercises
[submodule "workspace/lab09"]
	path = workspace/lab09
	url = https://github.com/APICe-at-DISI/OOP-Lab09.git
	branch = exercises
[submodule "workspace/lab09-sol"]
	path = workspace/lab09-sol
	url = https://github.com/APICe-at-DISI/OOP-Lab09.git
	branch = solutions
[submodule "workspace/lab10"]
	path = workspace/lab10
	url = https://github.com/APICe-at-DISI/OOP-Lab10.git
	branch = exercises
[submodule "workspace/lab10-sol"]
	path = workspace/lab10-sol
	url = https://github.com/APICe-at-DISI/OOP-Lab10.git
	branch = solutions
[submodule "workspace/lab-csharp"]
	path = workspace/lab-csharp
	url = https://github.com/APICe-at-DISI/oop-lab-csharp.git
	branch = master
[submodule "workspace/lab-csharp-sol"]
	path = workspace/lab-csharp-sol
	url = https://github.com/APICe-at-DISI/oop-lab-csharp.git
	branch = solution
